<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="false" excludeUmbracoNaviHide="false" />
  <urlRewrite enabled="true" forcewwwUrls="Ignore" useTrailingSlashProperty="false" />
  <redirectConfig storeDomain="false" storeQueryString="false" forwardQuerystring="true" redirectWhenNodeExists="false" />
  <notFoundConfig enabled="true" />
  <robotsTxt enabled="false" />
  <robots>
    <robot userAgent="Googlebot/2.1" name="Google" />
  </robots>
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>Base</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties />
      <documentTitleTemplate>[#@seoTitle] - [$siteName]</documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <emailConfiguration />
  <rootNodeSettings>
    <rootNode>
      <nodeId>1060</nodeId>
      <canonicalDomain></canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages>
        <language isoCode="en-US" nodeId="1176" />
      </languages>
    </rootNode>
  </rootNodeSettings>
  <validationConfig validateAltAttributesOnTemplate="false" />
  <keywordSelectionUrl>https://adwords.google.com/ko/KeywordPlanner/Home</keywordSelectionUrl>
  <showTemplateErrorsForNonAdmins>false</showTemplateErrorsForNonAdmins>
</SEOChecker>