@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Vacancyitem>>
@{
    Layout = "Master.cshtml";
}

<h1>@Model.Content.Title</h1>
@if(Model.Content.VacancyLevel != null)
{
    <p>
        @Model.Content.VacancyLevel
    </p>
}
@Model.Content.Description